$better-plants-blue: #1D428A;
$doe-green: #007a3e;
$blur-radius: 5px;

.homepage {
  width: 100%;
  height: 100%;
  color: $better-plants-blue;
  text-align: center;
  &::before {
    content: '';
    @extend .background-image;
  }
}

.background-image {
  position: fixed;
  z-index: -1;
  background: url('images/home-background.jpg');
  filter: blur($blur-radius);
  top: -1 * $blur-radius;
  left: -1 * $blur-radius;
  bottom: -1 * $blur-radius;
  right: -1 * $blur-radius;
  display: block;
}

.row {
  &::before, &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.emphasis {
  color: $better-plants-blue;
  font-weight: bold;
}

.semi-emphasis, a, a:visited {
  color: $better-plants-blue;
}